<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <div class="d-flex justify-content-between mb-2">
          <h4>尋找餐廳：</h4>
          <a href="/restaurants/new" class="btn btn-danger mb-3">新增餐廳</a>
        </div>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keywords}}" aria-describedby="search-button">
          <div class="input-group-append">
            <select class="form-select" name="sort" id="sort" onchange='this.form.submit()'>
              <option value='' {{#if sort}}{{else}}selected{{/if}} disabled>選擇排序方式</option>
              <option value='_id-desc' {{#is sort '_id-desc' }} selected {{/is}}>最新</option>
              <option value='_id-asc' {{#is sort '_id-asc' }} selected {{/is}}>最舊</option>
              <option value='name-asc' {{#is sort 'name-asc' }} selected {{/is}}>A > Z</option>
              <option value='name-desc' {{#is sort 'name-desc' }} selected {{/is}}>Z > A</option>
              <option value='rating-desc' {{#is sort 'rating-desc' }} selected {{/is}}>評分最高</option>
              <option value='rating-asc' {{#is sort 'rating-asc' }} selected {{/is}}>評分最低</option>
            </select>
          </div>
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    {{#if restaurantsData}}
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">
        {{#each restaurantsData}}
        <div class="mb-4">
          <div class="card mb-1">
            <a href="/restaurants/{{this._id}}" style="text-decoration: none;">
              <!-- image -->
              <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
              <!-- body -->
              <div class="card-body p-3">
                <h6 class="card-title mb-1">{{this.name}}</h6>

                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{this.category}}
                </div>

                <span class="badge rounded-pill bg-danger font-weight-normal">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>
              </div>
            </a>
            <!-- edit, detail, delete -->
            <div class="card-footer d-flex justify-content-end align-items-center flex-wrap">
              <a class="me-2" href="/restaurants/{{this._id}}/edit">Edit</a>
              <a class="me-2" href="/restaurants/{{this._id}}">Detail</a>
              <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger btn-sm" type="button">
                  Delete
                </button>
              </form>
            </div>
          </div>
        </div>
        {{/each}}      
      </div>
    </div>
    {{!-- 找不到結果時顯示如下 --}}
    {{else}}
    <div class="d-flex justify-content-end flex-column align-items-center m-3">
      <h3 class="mb-3">我們搜遍了資料庫的每寸角落，也找不到包含「{{keywords}}」關鍵字的餐廳</h3>
      <h6>「真像一塊塊綠豆糕。」一位外號叫「大食客」的同學緊接著說。</h6>
    </div>
    {{/if}}
  </div>
</div>